@import 'bourbon'; // http://bourbon.io/

@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins'; // custom mixins

@import 'partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h3{
	text-transform: capitalize;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;
	 

	#background{
		width: 300%;
		height: 100%;
		background-image: url(/images/statics/dehesa.jpg);
		background-position: right;
		background-size: 100%;
		position: fixed;
		top: 0;
		opacity: 0.2;
		z-index: -1;

		@include MQ(M) {
			width: 100%;
		}

	}
	

	&.overflow-hidden {
		/* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */ 
		overflow: hidden;
	}
}

a {
	color: $link;
	text-decoration: none;

		&:hover{
			color:$hover-text;
			
			img{ 
				border-color: $hover-text !important;
			}
		}
	}



img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to horizontally align the gallery of items */
	position: relative;
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

.cd-img-replace { /* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 102%;
    margin-left: -1%;
	//background: $header-bg;
	text-align: center;
	//border-bottom: solid 2px white;

	z-index: $header-zindex;

	#background-header{
		width: 100%;
		position: absolute;
		height: 100%;
		background-image: url(/images/statics/texture.png);
		background-color: #FFFEFB;
		@include rotation(-2deg);
		box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
		-o-box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
		-webkit-box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
		-moz-box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
		margin-top: -10px;
		@include MQ(L) {
			margin-top: -35px;
		}
	}

	@include MQ(L) {
		height: 120px;
		
	}
}

#logo {
	padding-top: 5px;
	width: 40%;
    margin-left: 30%;

	/* delete this property if you don't want your logo to scale down on mobile devices */
	@include transform(scale(.8)); 

	img{
		@include MQ(M) {
			width: 150px;
		}
	}
	

	@include MQ(L) {
		position: absolute;
		width: 200px;
		margin-left: inherit;
		padding-top: 15px;
		/* logo left margin on Dekstop */
		left: 2.4em; 
		top: 0;
		@include transform(scale(1));
	}
}

#cd-hamburger-menu, #cd-cart-trigger {
	position: absolute;
	top: -10px;
	height: 100%;


	a {
		width: 60px;
		height: 100%;
		top: -25px;
    	right: 25px;
		@include MQ(L) {
		top: -15px;
		}

	}
}

#cd-hamburger-menu {
	left: 0;

	a {
		background: url('../images/statics/cd-hamburger-menu.svg') no-repeat center center;
	}

	@include MQ(L) {
		display: none;
		
	}
}

#cd-cart-trigger {
	right: 0;

	a {
		background: url('../images/statics/cd-cart.svg') no-repeat center center;
	}

	@include MQ(L) {
		/* cart right margin on desktop */
		right: 0;

		a {
			position: relative;
			width: 100px;
			border-left: none;
		}
	}
}


#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;
	background-color: #FFF;
	background-image: url(/images/statics/texture.png);
	/* header height */
	padding-top: 80px; 
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 20px rgba(#000, .2);
	z-index: $sidebar-zindex;

	@include MQ(M) {
		width: 350px;
	}

	@include MQ(L) {
		width: 30%;

		/* header height has changed */
		padding-top: 100px; 
	}
}

#main-nav {
	left: -100%;
	

	@include transition(left .3s);

	&.speed-in {
		left: 0;
	}

	ul {

		a {
			display: block;
			height: 50px;
			line-height: 50px;
			padding: 0 1em;
			border-bottom: 1px solid $border;
		}

		.current {
			box-shadow: inset 3px 0 $link;
			

		}
	}

	@include MQ(L) { /* reset main nav style */
		position: absolute;
		height: auto;
		width: auto;
		left: auto;
		right: 8em;
		padding-top: 0;
		top: 0;
		background: transparent;
		box-shadow: none;

		/* header height */
		line-height: 80px; 

		z-index: $header-zindex;

		li {
			display: inline-block;
		}

		ul a {
			display: inline-block;
			height: auto;
			line-height: 1;
			padding: 0.6em 1em;
			border-bottom: none;
			color: rgba(#000, .8);
			text-decoration:none;
			text-transform: capitalize;
			@include borders(transparent,2px);
			font-weight:bold;

			&.current {
				box-shadow: none;
				@include borders(black,2px);
			}
			.no-touch &:hover {
				background: $link;
				color: #FFF;
			}
			&:hover{
				@include borders(black,2px);
			}
		}
	}

	.no-js & {
		position: fixed;
	}
}


#cd-cart {
	right: -100%;


	@include transition(right .3s);

	&.speed-in {
		right: 0;
	}

	> * {
		padding: 0 1em;
	}

	h2 {
		@include font-size(14px);
		font-weight: bold;
		text-transform: uppercase;
		margin: 1em 0;
	}

	.cd-cart-items {
		padding: 0;

		li {
			position: relative;
			padding: 1em;
			border-top: 1px solid $border;

			&:last-child {
				border-bottom: 1px solid $border;
			}
			
		}
	}

	.cd-qty, .cd-price {
		color: $light-text;
	}

	.cd-price {
		margin-top: .4em;
	}

	.cd-item-remove {
		position: absolute;
		right: 1em;
		top: 12px;
		//@include center(y); // see mixin inside partials > _mixins.scss
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: url('../images/statics/cd-remove-item.svg') no-repeat center center;

		.no-touch &:hover {
			background-color: $border;
		}
	}

	.cd-cart-total {
		padding-bottom: 1em;

		span {
			float: right;
		}

		span{
			font-size: 18px;
			color: black;
		}

		&::after { /* clearfix */
			content: '';
			display: table;
			clear: both;
		}
	}

	.checkout-btn {
		
			
		.no-touch &:hover {
			background: lighten($green, 10%);
		}
		
	}

	.cd-go-to-cart {
		text-align: center;
		margin: 1em 0;

		a {
			text-decoration: underline;
		}
	}

	@include MQ(L) {
		> * {
			padding: 0 2em;
		}

		.cd-cart-items li {
			padding: 0.5em 2em;
		}

		.cd-item-remove {
			right: 2em;
		}
	}
}

/* -------------------------------- 

xgallery 

-------------------------------- */

main {
	position: relative;
	min-height: 100%;
	//background: $background;
	padding-top: 10px;

	z-index: $main-zindex;

	@include MQ(M) {
		padding-top: 20px;
	}

	@include MQ(L) {
		padding-top: 10px;
	}
}

#cd-gallery-items {
	li {
		margin-bottom: 1.5em;

		h5{
			position: absolute;
			text-transform: uppercase;
			padding:20px;				
		}

		img {
			width: 100%;
			display: block;
			@include borders(black,3px);
			background: rgba(255, 255, 255, 0.43);
		}
	}
 
	@include MQ(M) {
		li {
			@include column(.48); // see how this mixin works inside partials > _layout.scss
			margin-bottom: 2em;
			margin-right: 4%;

			h5{
				@include column(.48);
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	@include MQ(L) {
		li {
			@include column(.31);
			margin-bottom: 2.5em;
			margin-right: 3.5%;

			h5{
				@include column(.31);
			}

			&:nth-child(2n) {
				margin-right: 3.5%;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

#cd-shadow-layer {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #b1e4bf57;
	cursor: pointer;

	z-index: $shadow-zindex;

	display: none;

	&.is-visible {
		display: block;
		@include animation(cd-fade-in .3s);
	}
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */

@include keyframes(cd-fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

//------------------------------------------------------
.pl-0{
	padding-left: 0;
  }
  .pr-0{
	padding-right: 0;
  }

  .btn-shop{
		border: solid 2px black;
		padding: 6px 15px !important;
		text-transform: uppercase;
		font-size: 18px;
		background: transparent;
		cursor: pointer;
		&:hover{
			color:$hover-text !important;
			border-color: $hover-text;
		}
	}

#category-nav{
	width: 100%;
    height: inherit;
    text-align: center;
    position: inherit;
    margin-top: 70px;
    z-index: 999;


	ul { width: 100%;

		li{
			display: inline-block;
		}

		a {
			display: block;
			height: 50px;
			line-height: 50px;
			padding: 0 1em;
			text-decoration: none;
			text-transform: capitalize;
		}
	}
	
	@include MQ(L) {
		margin-top: 140px;
	}

}

.current-category{
	color:$link;
	font-weight: bold;
}

#language-select{
	color: black;
	font-weight: bold;
	background: transparent;
	border: none;
	width: 65px;
	&:hover{
	cursor: pointer;		
	}
	&:focus{
		box-shadow: none;
	}
	option{
		background: white;	
	}

}


body{
	background: $background;
}

//home
.carousel-indicators {
	bottom: 20px;
    position: fixed;
}


.full-screen {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

//About & Contact

.about, .contact{
	max-width: 1000px;
		margin-top: 100px;
	@include MQ(L) {
		margin-top: $margin-top;
	}
	div{
		float: left;
		img{
			border: solid 3px;
			margin-bottom: 100px;
		}
	}
}

//form login
.show-login{
	cursor: pointer;	
}
.modal{
	background: $background;

}
.modal-content{
	margin-top: 80px;
	background-image: url(/images/statics/texture.png);
	background-color: #FFFEFB;
		.modal-header{
			border-bottom: 0;
		}
}
.modal-content,.modal-content input{
	border: 2px solid black;
	border-radius: 0;

}



//Product

#product{
max-width: 1200px;

div{
		display: inline-block;	
	}
	#description{
		h5{
			padding: 15px;
		}
		padding: 100px 15px;
		@include MQ(L) {
			float: left;
		}
	}

	#galery{
		@include MQ(L) {
			float: right;
		}
	}

}
//cart auxiliar

#empty-cart-menu img{
	width: 25px;
    position: absolute;
    margin-top: 16px;
}

//cart
.cart-page{
	
	font-size: 18px;
	max-width:900px;
	margin-bottom: $margin-bottom;			

	@include MQ(L) {
		margin-top: $margin-top;
		margin-bottom: 50px;			
	}
	

	.cd-cart-items{
		clear: both;
		float: left;
		border-bottom: 2px solid black;
		margin-top: -50px;


		li,li div{
			float: left;
		}
		.li-flex{
			align-self: center;
			text-align: center;
				
		}
		.unit-cart{
			margin-bottom: 30px;
		}
		.cd-qty div{
			margin-top: -15px;
			margin-bottom: 15px;
		}
		.btn-plus-rest{
			align-self: center;
			border: solid 2px;
			padding: 2px 6px;
			text-decoration:none; 
		}
		.cd-price {
			position: absolute;
			z-index: -1;	

		}
		.price-unidad{
			display: block;
			margin-top: 10px;
			font-size: 12px;
			top: -28vh;				
		}
		
	}

	.cd-cart-total,.cd-cart-total p{
		text-align: right;
	}

	.remove-cart-page{
		font-size: 30px;
		position: absolute;
		right: 0;
		top: -28vh;	
		}
		

	@include MQ(M) {
		.cd-cart-items{
			display: flex;
			margin-top: 25px;

				.li-flex{
				text-align: left				
				}
				.price-unidad{
				display: inherit;
				margin-top: inherit;				
				}
				.cd-price{
				position: inherit;
				}
				.cd-qty div{
					margin-top: 15px;
					margin-bottom: inherit;	
				}
		}
		.cd-cart-total,.cd-cart-total p{
			text-align: inherit
		}

		.remove-cart-page{
			top: -10px;	
		}
		
	}


	.cd-cart-total{
		clear: both;
		padding: 20px;
	}


}

//Payment
#formpayment,#formregistre,.cart-page{
	margin-top: $margin-top;
	margin-bottom: $margin-bottom;			

		input, select, textarea {
			border: 2px solid;
			border-radius: 0;
		}
}

//social
#social{
	@include rotation(-2deg);
	background-image: url(/images/statics/texture.png);
	background-color: #FFFEFB;
    width: 102%;
    height: 100px;
    position: fixed;
	bottom: -30px;
	
	div{
		position: absolute;
		right: 20px;
		bottom: 40px;
		@include rotation(2deg);
		@include MQ(L) {
		right: 70px;
		bottom: 30px;
		}

		i{
			font-size:20px;
			margin-left: 15px;
			@include MQ(L) {
			font-size:25px;

			}

		}
	}
}


//footer
footer{
	clear: both;
	width: 100%;
	text-align: center;
	padding: 15px;
}


