/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h3 {
  text-transform: capitalize; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "PT Mono", monospace;
  color: black;
  background-color: #b1e4bf52; }
  body #background {
    width: 300%;
    height: 100%;
    background-image: url(/images/statics/dehesa.jpg);
    background-position: right;
    background-size: 100%;
    position: fixed;
    top: 0;
    opacity: 0.2;
    z-index: -1; }
    @media only screen and (min-width: 768px) {
      body #background {
        width: 100%; } }
  body.overflow-hidden {
    /* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
    overflow: hidden; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: #769b02; }
    a:hover img {
      border-color: #769b02 !important; }

img {
  max-width: 100%; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

/* -------------------------------- 

xheader 

-------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 102%;
  margin-left: -1%;
  text-align: center;
  z-index: 4; }
  header #background-header {
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url(/images/statics/texture.png);
    background-color: #FFFEFB;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
    -o-box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
    -webkit-box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
    -moz-box-shadow: 0px 0px 16px 5px rgba(150, 150, 150, 0.6);
    margin-top: -10px; }
    @media only screen and (min-width: 1200px) {
      header #background-header {
        margin-top: -35px; } }
  @media only screen and (min-width: 1200px) {
    header {
      height: 120px; } }

#logo {
  padding-top: 5px;
  width: 40%;
  margin-left: 30%;
  /* delete this property if you don't want your logo to scale down on mobile devices */
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }
  @media only screen and (min-width: 768px) {
    #logo img {
      width: 150px; } }
  @media only screen and (min-width: 1200px) {
    #logo {
      position: absolute;
      width: 200px;
      margin-left: inherit;
      padding-top: 15px;
      /* logo left margin on Dekstop */
      left: 2.4em;
      top: 0;
      -webkit-transform: scale(1);
      transform: scale(1); } }

#cd-hamburger-menu, #cd-cart-trigger {
  position: absolute;
  top: -10px;
  height: 100%; }
  #cd-hamburger-menu a, #cd-cart-trigger a {
    width: 60px;
    height: 100%;
    top: -25px;
    right: 25px; }
    @media only screen and (min-width: 1200px) {
      #cd-hamburger-menu a, #cd-cart-trigger a {
        top: -15px; } }

#cd-hamburger-menu {
  left: 0; }
  #cd-hamburger-menu a {
    background: url("../images/statics/cd-hamburger-menu.svg") no-repeat center center; }
  @media only screen and (min-width: 1200px) {
    #cd-hamburger-menu {
      display: none; } }

#cd-cart-trigger {
  right: 0; }
  #cd-cart-trigger a {
    background: url("../images/statics/cd-cart.svg") no-repeat center center; }
  @media only screen and (min-width: 1200px) {
    #cd-cart-trigger {
      /* cart right margin on desktop */
      right: 0; }
      #cd-cart-trigger a {
        position: relative;
        width: 100px;
        border-left: none; } }

#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  background-color: #FFF;
  background-image: url(/images/statics/texture.png);
  /* header height */
  padding-top: 80px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3; }
  @media only screen and (min-width: 768px) {
    #main-nav, #cd-cart {
      width: 350px; } }
  @media only screen and (min-width: 1200px) {
    #main-nav, #cd-cart {
      width: 30%;
      /* header height has changed */
      padding-top: 100px; } }

#main-nav {
  left: -100%;
  -webkit-transition: left 0.3s;
  transition: left 0.3s; }
  #main-nav.speed-in {
    left: 0; }
  #main-nav ul a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 1em;
    border-bottom: 1px solid #e0e6ef; }
  #main-nav ul .current {
    -webkit-box-shadow: inset 3px 0 black;
    box-shadow: inset 3px 0 black; }
  @media only screen and (min-width: 1200px) {
    #main-nav {
      /* reset main nav style */
      position: absolute;
      height: auto;
      width: auto;
      left: auto;
      right: 8em;
      padding-top: 0;
      top: 0;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      /* header height */
      line-height: 80px;
      z-index: 4; }
      #main-nav li {
        display: inline-block; }
      #main-nav ul a {
        display: inline-block;
        height: auto;
        line-height: 1;
        padding: 0.6em 1em;
        border-bottom: none;
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
        text-transform: capitalize;
        border: 2px transparent solid;
        font-weight: bold; }
        #main-nav ul a.current {
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 2px black solid; }
        .no-touch #main-nav ul a:hover {
          background: black;
          color: #FFF; }
        #main-nav ul a:hover {
          border: 2px black solid; } }
  .no-js #main-nav {
    position: fixed; }

#cd-cart {
  right: -100%;
  -webkit-transition: right 0.3s;
  transition: right 0.3s; }
  #cd-cart.speed-in {
    right: 0; }
  #cd-cart > * {
    padding: 0 1em; }
  #cd-cart h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0; }
  #cd-cart .cd-cart-items {
    padding: 0; }
    #cd-cart .cd-cart-items li {
      position: relative;
      padding: 1em;
      border-top: 1px solid #e0e6ef; }
      #cd-cart .cd-cart-items li:last-child {
        border-bottom: 1px solid #e0e6ef; }
  #cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc; }
  #cd-cart .cd-price {
    margin-top: .4em; }
  #cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../images/statics/cd-remove-item.svg") no-repeat center center; }
    .no-touch #cd-cart .cd-item-remove:hover {
      background-color: #e0e6ef; }
  #cd-cart .cd-cart-total {
    padding-bottom: 1em; }
    #cd-cart .cd-cart-total span {
      float: right; }
    #cd-cart .cd-cart-total span {
      font-size: 18px;
      color: black; }
    #cd-cart .cd-cart-total::after {
      /* clearfix */
      content: '';
      display: table;
      clear: both; }
  .no-touch #cd-cart .checkout-btn:hover {
    background: #a2dda8; }
  #cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0; }
    #cd-cart .cd-go-to-cart a {
      text-decoration: underline; }
  @media only screen and (min-width: 1200px) {
    #cd-cart > * {
      padding: 0 2em; }
    #cd-cart .cd-cart-items li {
      padding: 0.5em 2em; }
    #cd-cart .cd-item-remove {
      right: 2em; } }

/* -------------------------------- 

xgallery 

-------------------------------- */
main {
  position: relative;
  min-height: 100%;
  padding-top: 10px;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    main {
      padding-top: 20px; } }
  @media only screen and (min-width: 1200px) {
    main {
      padding-top: 10px; } }

#cd-gallery-items li {
  margin-bottom: 1.5em; }
  #cd-gallery-items li h5 {
    position: absolute;
    text-transform: uppercase;
    padding: 20px; }
  #cd-gallery-items li img {
    width: 100%;
    display: block;
    border: 3px black solid;
    background: rgba(255, 255, 255, 0.43); }

@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%; }
    #cd-gallery-items li h5 {
      width: 48%;
      float: left; }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 0; } }

@media only screen and (min-width: 1200px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%; }
    #cd-gallery-items li h5 {
      width: 31%;
      float: left; }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 3.5%; }
    #cd-gallery-items li:nth-child(3n) {
      margin-right: 0; } }

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #b1e4bf57;
  cursor: pointer;
  z-index: 2;
  display: none; }
  #cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s; }

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.btn-shop {
  border: solid 2px black;
  padding: 6px 15px !important;
  text-transform: uppercase;
  font-size: 18px;
  background: transparent;
  cursor: pointer; }
  .btn-shop:hover {
    color: #769b02 !important;
    border-color: #769b02; }

#category-nav {
  width: 100%;
  height: inherit;
  text-align: center;
  position: inherit;
  margin-top: 70px;
  z-index: 999; }
  #category-nav ul {
    width: 100%; }
    #category-nav ul li {
      display: inline-block; }
    #category-nav ul a {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 1em;
      text-decoration: none;
      text-transform: capitalize; }
  @media only screen and (min-width: 1200px) {
    #category-nav {
      margin-top: 140px; } }

.current-category {
  color: black;
  font-weight: bold; }

#language-select {
  color: black;
  font-weight: bold;
  background: transparent;
  border: none;
  width: 65px; }
  #language-select:hover {
    cursor: pointer; }
  #language-select:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  #language-select option {
    background: white; }

body {
  background: #b1e4bf52; }

.carousel-indicators {
  bottom: 20px;
  position: fixed; }

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.about, .contact {
  max-width: 1000px;
  margin-top: 100px; }
  @media only screen and (min-width: 1200px) {
    .about, .contact {
      margin-top: 170px; } }
  .about div, .contact div {
    float: left; }
    .about div img, .contact div img {
      border: solid 3px;
      margin-bottom: 100px; }

.show-login {
  cursor: pointer; }

.modal {
  background: #b1e4bf52; }

.modal-content {
  margin-top: 80px;
  background-image: url(/images/statics/texture.png);
  background-color: #FFFEFB; }
  .modal-content .modal-header {
    border-bottom: 0; }

.modal-content, .modal-content input {
  border: 2px solid black;
  border-radius: 0; }

#product {
  max-width: 1200px; }
  #product div {
    display: inline-block; }
  #product #description {
    padding: 100px 15px; }
    #product #description h5 {
      padding: 15px; }
    @media only screen and (min-width: 1200px) {
      #product #description {
        float: left; } }
  @media only screen and (min-width: 1200px) {
    #product #galery {
      float: right; } }

#empty-cart-menu img {
  width: 25px;
  position: absolute;
  margin-top: 16px; }

.cart-page {
  font-size: 18px;
  max-width: 900px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 1200px) {
    .cart-page {
      margin-top: 170px;
      margin-bottom: 50px; } }
  .cart-page .cd-cart-items {
    clear: both;
    float: left;
    border-bottom: 2px solid black;
    margin-top: -50px; }
    .cart-page .cd-cart-items li, .cart-page .cd-cart-items li div {
      float: left; }
    .cart-page .cd-cart-items .li-flex {
      -ms-flex-item-align: center;
      align-self: center;
      text-align: center; }
    .cart-page .cd-cart-items .unit-cart {
      margin-bottom: 30px; }
    .cart-page .cd-cart-items .cd-qty div {
      margin-top: -15px;
      margin-bottom: 15px; }
    .cart-page .cd-cart-items .btn-plus-rest {
      -ms-flex-item-align: center;
      align-self: center;
      border: solid 2px;
      padding: 2px 6px;
      text-decoration: none; }
    .cart-page .cd-cart-items .cd-price {
      position: absolute;
      z-index: -1; }
    .cart-page .cd-cart-items .price-unidad {
      display: block;
      margin-top: 10px;
      font-size: 12px;
      top: -28vh; }
  .cart-page .cd-cart-total, .cart-page .cd-cart-total p {
    text-align: right; }
  .cart-page .remove-cart-page {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -28vh; }
  @media only screen and (min-width: 768px) {
    .cart-page .cd-cart-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 25px; }
      .cart-page .cd-cart-items .li-flex {
        text-align: left; }
      .cart-page .cd-cart-items .price-unidad {
        display: inherit;
        margin-top: inherit; }
      .cart-page .cd-cart-items .cd-price {
        position: inherit; }
      .cart-page .cd-cart-items .cd-qty div {
        margin-top: 15px;
        margin-bottom: inherit; }
    .cart-page .cd-cart-total, .cart-page .cd-cart-total p {
      text-align: inherit; }
    .cart-page .remove-cart-page {
      top: -10px; } }
  .cart-page .cd-cart-total {
    clear: both;
    padding: 20px; }

#formpayment, #formregistre, .cart-page {
  margin-top: 170px;
  margin-bottom: 50px; }
  #formpayment input, #formpayment select, #formpayment textarea, #formregistre input, #formregistre select, #formregistre textarea, .cart-page input, .cart-page select, .cart-page textarea {
    border: 2px solid;
    border-radius: 0; }

#social {
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  background-image: url(/images/statics/texture.png);
  background-color: #FFFEFB;
  width: 102%;
  height: 100px;
  position: fixed;
  bottom: -30px; }
  #social div {
    position: absolute;
    right: 20px;
    bottom: 40px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg); }
    @media only screen and (min-width: 1200px) {
      #social div {
        right: 70px;
        bottom: 30px; } }
    #social div i {
      font-size: 20px;
      margin-left: 15px; }
      @media only screen and (min-width: 1200px) {
        #social div i {
          font-size: 25px; } }

footer {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 15px; }

/*# sourceMappingURL=mapsshop/shop.css.map */
