<div class="contact container col-md-12">   
    

    <div class="offset-md-1 col-md-5">
        <h3>{{langWords.contact}}</h3><br>
        <a target="_blank"  href="mailto:info@xxxx.com?Subject=Hola!"><h4>info@xxxx.com</h4></a>
        <h5>Avda. Virgen de Cala nยบ 7</h5>
        <h5>Cala (Huelva)</h5>
        <h5>Telf: 959 191 523</h5>

    </div>

    <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfdlXGtCxMhzliAFzoyTOakWauhSkFbPLpMKxnl3-SrkYcFWnT3Q" alt="buzon">
    </div>



</div>
